p, li, .c6, .c16, .c1, .c19, .c20, .c0 {
	font-size: 1em;
}

section, .c11 {
	padding-top: 0;
}

footer {
	/*background: #E8EEF4;
	padding: 5em 5em 10em 5em;
	color: #7c8081;*/
}

.survey-image{
	max-width: 60%;
	height: auto;
}

.bx-wrapper {
	margin: auto;
}