p, li, .c6, .c16, .c1, .c19, .c20, .c0 {
	font-size: 1em;
}

img {
	max-width: 100%;
	height: auto;
}

section, .c11 {
	padding-top: 0;
}

footer {
	/*background: #E8EEF4;
	padding: 5em 5em 10em 5em;
	color: #7c8081;*/
}

iframe {
	max-width: 100%;
}

ol {
	padding: 10px;
}

.survey-image{
	max-width: 60%;
	height: auto;
}

.bx-wrapper {
	margin: auto;
}

.presentation-button {
	display: none;
}

.page-background:before {
	content: "";
    position: absolute;
    z-index: -1;
    background: url(../images/headset/final-headset.JPG) no-repeat fixed center;
    background-size: cover;
    width: 100%;
    height: 445px;
    filter: blur(2px) grayscale(1);
}

h1.page-title {
	padding-top: 200px;
	padding-bottom: 200px;
	z-index: 0;
	/*border-bottom: 10px solid #29b6f6;*/
}

#notebook-sketch {
	width: 500px;
}

/*	****************************************
	Long-scrolly sections
	**************************************** */
.section {
    min-height: 100%; /* required - makes the sections act like pages */
    padding-top: 75px; /* how tall is the persistent nav bar at the top? */
    padding-bottom: 50px; /* typical - keep content away from the next section */
}

.deliverable:nth-child(even){
	background-color: #EFEFEF;
}

.gray-section {
	background-color: #EFEFEF;

}

.column1, .column2 {
	display: table-cell;
	width: 50%;
	padding-left: 20px;
	padding-right: 20px;
	vertical-align: top;
}

/*	****************************************
	Block Quotes
	**************************************** */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #299AEE;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #299AEE;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote:after {
  color: #299AEE;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}


/*Mobile Responsive Media tags*/
@media (max-width: 960px) {
	.presentation{
		display: none;
	}
	.presentation-button{
		display: block;
	}
}
@media (max-width: 720px) {
	.column1, .column2 {
		display: block;
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
	}
}

@media (max-width: 520px) {
	.presentation {
		/*display: none;*/
	}
	.column1, .column2 {
		display: block;
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
	}
}

@media (max-width: 390px) {
	.column1, .column2 {
		display: block;
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
	}
}




