---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "main";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700');
@import url('https://themes.googleusercontent.com/fonts/css?kit=3qINvnjb346LubKDfLRn69t6G6Z1RrRfgULZ1AHo7mPOfsfM6rvuuu7h1pY3r_-A');
.lst-kix_bzi60k1pundr-4>li {
    counter-increment: lst-ctn-kix_bzi60k1pundr-4
}

ol.lst-kix_bzi60k1pundr-6.start {
    counter-reset: lst-ctn-kix_bzi60k1pundr-6 0
}

ol.lst-kix_ge7qo3u2btfs-7.start {
    counter-reset: lst-ctn-kix_ge7qo3u2btfs-7 0
}

ul.lst-kix_4kp7qdixzjc6-6 {
    list-style-type: none
}

ul.lst-kix_4kp7qdixzjc6-7 {
    list-style-type: none
}

ul.lst-kix_4kp7qdixzjc6-8 {
    list-style-type: none
}

ul.lst-kix_4kp7qdixzjc6-2 {
    list-style-type: none
}

ul.lst-kix_ohanngo2692l-6 {
    list-style-type: none
}

ul.lst-kix_4kp7qdixzjc6-3 {
    list-style-type: none
}

ul.lst-kix_ohanngo2692l-7 {
    list-style-type: none
}

ul.lst-kix_4kp7qdixzjc6-4 {
    list-style-type: none
}

ul.lst-kix_ohanngo2692l-8 {
    list-style-type: none
}

ul.lst-kix_4kp7qdixzjc6-5 {
    list-style-type: none
}

ul.lst-kix_ohanngo2692l-2 {
    list-style-type: none
}

.lst-kix_ge7qo3u2btfs-3>li {
    counter-increment: lst-ctn-kix_ge7qo3u2btfs-3
}

ul.lst-kix_ohanngo2692l-3 {
    list-style-type: none
}

ul.lst-kix_4kp7qdixzjc6-0 {
    list-style-type: none
}

ul.lst-kix_ohanngo2692l-4 {
    list-style-type: none
}

ul.lst-kix_4kp7qdixzjc6-1 {
    list-style-type: none
}

ul.lst-kix_ohanngo2692l-5 {
    list-style-type: none
}

ol.lst-kix_ge7qo3u2btfs-4.start {
    counter-reset: lst-ctn-kix_ge7qo3u2btfs-4 0
}

.lst-kix_ge7qo3u2btfs-4>li {
    counter-increment: lst-ctn-kix_ge7qo3u2btfs-4
}

ol.lst-kix_bzi60k1pundr-0.start {
    counter-reset: lst-ctn-kix_bzi60k1pundr-0 0
}

.lst-kix_ge7qo3u2btfs-0>li:before {
    content: "" counter(lst-ctn-kix_ge7qo3u2btfs-0, decimal) ". "
}

.lst-kix_ge7qo3u2btfs-1>li:before {
    content: "" counter(lst-ctn-kix_ge7qo3u2btfs-1, lower-latin) ". "
}

.lst-kix_ge7qo3u2btfs-2>li:before {
    content: "" counter(lst-ctn-kix_ge7qo3u2btfs-2, lower-roman) ". "
}

ul.lst-kix_7i1jl0d4y9wa-8 {
    list-style-type: none
}

.lst-kix_ge7qo3u2btfs-7>li:before {
    content: "" counter(lst-ctn-kix_ge7qo3u2btfs-7, lower-latin) ". "
}

ol.lst-kix_bzi60k1pundr-3.start {
    counter-reset: lst-ctn-kix_bzi60k1pundr-3 0
}

.lst-kix_ge7qo3u2btfs-6>li:before {
    content: "" counter(lst-ctn-kix_ge7qo3u2btfs-6, decimal) ". "
}

.lst-kix_ge7qo3u2btfs-5>li:before {
    content: "" counter(lst-ctn-kix_ge7qo3u2btfs-5, lower-roman) ". "
}

ul.lst-kix_7i1jl0d4y9wa-6 {
    list-style-type: none
}

.lst-kix_ge7qo3u2btfs-3>li:before {
    content: "" counter(lst-ctn-kix_ge7qo3u2btfs-3, decimal) ". "
}

ul.lst-kix_7i1jl0d4y9wa-7 {
    list-style-type: none
}

ul.lst-kix_7i1jl0d4y9wa-4 {
    list-style-type: none
}

.lst-kix_ge7qo3u2btfs-4>li:before {
    content: "" counter(lst-ctn-kix_ge7qo3u2btfs-4, lower-latin) ". "
}

ul.lst-kix_7i1jl0d4y9wa-5 {
    list-style-type: none
}

ul.lst-kix_7i1jl0d4y9wa-2 {
    list-style-type: none
}

ul.lst-kix_7i1jl0d4y9wa-3 {
    list-style-type: none
}

ul.lst-kix_7i1jl0d4y9wa-0 {
    list-style-type: none
}

ul.lst-kix_7i1jl0d4y9wa-1 {
    list-style-type: none
}

.lst-kix_bzi60k1pundr-7>li {
    counter-increment: lst-ctn-kix_bzi60k1pundr-7
}

ol.lst-kix_ge7qo3u2btfs-5.start {
    counter-reset: lst-ctn-kix_ge7qo3u2btfs-5 0
}

.lst-kix_4kp7qdixzjc6-7>li:before {
    content: "\0025cb  "
}

ol.lst-kix_bzi60k1pundr-1.start {
    counter-reset: lst-ctn-kix_bzi60k1pundr-1 0
}

.lst-kix_4kp7qdixzjc6-8>li:before {
    content: "\0025a0  "
}

.lst-kix_ge7qo3u2btfs-8>li:before {
    content: "" counter(lst-ctn-kix_ge7qo3u2btfs-8, lower-roman) ". "
}

.lst-kix_4kp7qdixzjc6-3>li:before {
    content: "\0025cf  "
}

.lst-kix_4kp7qdixzjc6-5>li:before {
    content: "\0025a0  "
}

.lst-kix_bzi60k1pundr-6>li {
    counter-increment: lst-ctn-kix_bzi60k1pundr-6
}

.lst-kix_4kp7qdixzjc6-2>li:before {
    content: "\0025a0  "
}

.lst-kix_4kp7qdixzjc6-6>li:before {
    content: "\0025cf  "
}

.lst-kix_958bthi5iell-7>li:before {
    content: "\0025cb  "
}

.lst-kix_958bthi5iell-8>li:before {
    content: "\0025a0  "
}

.lst-kix_4kp7qdixzjc6-4>li:before {
    content: "\0025cb  "
}

.lst-kix_ge7qo3u2btfs-2>li {
    counter-increment: lst-ctn-kix_ge7qo3u2btfs-2
}

.lst-kix_dxm979ctgany-4>li:before {
    content: "-  "
}

.lst-kix_ge7qo3u2btfs-5>li {
    counter-increment: lst-ctn-kix_ge7qo3u2btfs-5
}

.lst-kix_dxm979ctgany-3>li:before {
    content: "-  "
}

.lst-kix_dxm979ctgany-5>li:before {
    content: "-  "
}

.lst-kix_958bthi5iell-1>li:before {
    content: "\0025cb  "
}

.lst-kix_958bthi5iell-3>li:before {
    content: "\0025cf  "
}

.lst-kix_ge7qo3u2btfs-8>li {
    counter-increment: lst-ctn-kix_ge7qo3u2btfs-8
}

.lst-kix_958bthi5iell-2>li:before {
    content: "\0025a0  "
}

.lst-kix_958bthi5iell-6>li:before {
    content: "\0025cf  "
}

.lst-kix_dxm979ctgany-0>li:before {
    content: "-  "
}

.lst-kix_dxm979ctgany-8>li:before {
    content: "-  "
}

.lst-kix_bzi60k1pundr-3>li {
    counter-increment: lst-ctn-kix_bzi60k1pundr-3
}

.lst-kix_dxm979ctgany-1>li:before {
    content: "-  "
}

.lst-kix_958bthi5iell-5>li:before {
    content: "\0025a0  "
}

.lst-kix_dxm979ctgany-2>li:before {
    content: "-  "
}

.lst-kix_958bthi5iell-4>li:before {
    content: "\0025cb  "
}

.lst-kix_bzi60k1pundr-0>li {
    counter-increment: lst-ctn-kix_bzi60k1pundr-0
}

.lst-kix_bzi60k1pundr-8>li:before {
    content: "" counter(lst-ctn-kix_bzi60k1pundr-8, lower-roman) ". "
}

.lst-kix_dxm979ctgany-7>li:before {
    content: "-  "
}

.lst-kix_bzi60k1pundr-6>li:before {
    content: "" counter(lst-ctn-kix_bzi60k1pundr-6, decimal) ". "
}

.lst-kix_dxm979ctgany-6>li:before {
    content: "-  "
}

.lst-kix_bzi60k1pundr-7>li:before {
    content: "" counter(lst-ctn-kix_bzi60k1pundr-7, lower-latin) ". "
}

ol.lst-kix_bzi60k1pundr-8.start {
    counter-reset: lst-ctn-kix_bzi60k1pundr-8 0
}

.lst-kix_958bthi5iell-0>li:before {
    content: "\0025cf  "
}

ul.lst-kix_b0m7ctptq76u-2 {
    list-style-type: none
}

.lst-kix_bzi60k1pundr-4>li:before {
    content: "" counter(lst-ctn-kix_bzi60k1pundr-4, lower-latin) ". "
}

ul.lst-kix_b0m7ctptq76u-1 {
    list-style-type: none
}

ul.lst-kix_dxm979ctgany-0 {
    list-style-type: none
}

ul.lst-kix_b0m7ctptq76u-0 {
    list-style-type: none
}

ul.lst-kix_b0m7ctptq76u-6 {
    list-style-type: none
}

ul.lst-kix_b0m7ctptq76u-5 {
    list-style-type: none
}

ol.lst-kix_ge7qo3u2btfs-0.start {
    counter-reset: lst-ctn-kix_ge7qo3u2btfs-0 0
}

ul.lst-kix_b0m7ctptq76u-4 {
    list-style-type: none
}

.lst-kix_bzi60k1pundr-1>li:before {
    content: "" counter(lst-ctn-kix_bzi60k1pundr-1, lower-latin) ". "
}

.lst-kix_bzi60k1pundr-5>li:before {
    content: "" counter(lst-ctn-kix_bzi60k1pundr-5, lower-roman) ". "
}

ul.lst-kix_b0m7ctptq76u-3 {
    list-style-type: none
}

ol.lst-kix_bzi60k1pundr-1 {
    list-style-type: none
}

ul.lst-kix_dxm979ctgany-7 {
    list-style-type: none
}

ol.lst-kix_bzi60k1pundr-2 {
    list-style-type: none
}

ul.lst-kix_dxm979ctgany-8 {
    list-style-type: none
}

ul.lst-kix_b0m7ctptq76u-8 {
    list-style-type: none
}

ol.lst-kix_bzi60k1pundr-3 {
    list-style-type: none
}

ul.lst-kix_dxm979ctgany-5 {
    list-style-type: none
}

ul.lst-kix_b0m7ctptq76u-7 {
    list-style-type: none
}

ol.lst-kix_bzi60k1pundr-4 {
    list-style-type: none
}

ul.lst-kix_dxm979ctgany-6 {
    list-style-type: none
}

.lst-kix_bzi60k1pundr-2>li:before {
    content: "" counter(lst-ctn-kix_bzi60k1pundr-2, lower-roman) ". "
}

ol.lst-kix_bzi60k1pundr-5 {
    list-style-type: none
}

ul.lst-kix_dxm979ctgany-3 {
    list-style-type: none
}

.lst-kix_ohanngo2692l-1>li:before {
    content: "-  "
}

ol.lst-kix_bzi60k1pundr-6 {
    list-style-type: none
}

ul.lst-kix_dxm979ctgany-4 {
    list-style-type: none
}

.lst-kix_bzi60k1pundr-3>li:before {
    content: "" counter(lst-ctn-kix_bzi60k1pundr-3, decimal) ". "
}

ol.lst-kix_bzi60k1pundr-7 {
    list-style-type: none
}

ul.lst-kix_dxm979ctgany-1 {
    list-style-type: none
}

.lst-kix_ohanngo2692l-2>li:before {
    content: "-  "
}

ol.lst-kix_bzi60k1pundr-8 {
    list-style-type: none
}

ul.lst-kix_dxm979ctgany-2 {
    list-style-type: none
}

.lst-kix_7i1jl0d4y9wa-6>li:before {
    content: "\0025cf  "
}

ol.lst-kix_bzi60k1pundr-2.start {
    counter-reset: lst-ctn-kix_bzi60k1pundr-2 0
}

.lst-kix_ohanngo2692l-0>li:before {
    content: "-  "
}

.lst-kix_bzi60k1pundr-0>li:before {
    content: "" counter(lst-ctn-kix_bzi60k1pundr-0, decimal) ". "
}

.lst-kix_7i1jl0d4y9wa-5>li:before {
    content: "\0025a0  "
}

.lst-kix_7i1jl0d4y9wa-3>li:before {
    content: "\0025cf  "
}

.lst-kix_7i1jl0d4y9wa-4>li:before {
    content: "\0025cb  "
}

ol.lst-kix_ge7qo3u2btfs-6.start {
    counter-reset: lst-ctn-kix_ge7qo3u2btfs-6 0
}

ol.lst-kix_bzi60k1pundr-7.start {
    counter-reset: lst-ctn-kix_bzi60k1pundr-7 0
}

.lst-kix_ohanngo2692l-8>li:before {
    content: "-  "
}

.lst-kix_4kp7qdixzjc6-1>li:before {
    content: "\0025cb  "
}

.lst-kix_7i1jl0d4y9wa-7>li:before {
    content: "\0025cb  "
}

.lst-kix_4kp7qdixzjc6-0>li:before {
    content: "\0025cf  "
}

.lst-kix_ohanngo2692l-3>li:before {
    content: "-  "
}

.lst-kix_7i1jl0d4y9wa-8>li:before {
    content: "\0025a0  "
}

.lst-kix_ohanngo2692l-4>li:before {
    content: "-  "
}

ol.lst-kix_bzi60k1pundr-0 {
    list-style-type: none
}

.lst-kix_ohanngo2692l-7>li:before {
    content: "-  "
}

.lst-kix_ohanngo2692l-5>li:before {
    content: "-  "
}

ol.lst-kix_ge7qo3u2btfs-3.start {
    counter-reset: lst-ctn-kix_ge7qo3u2btfs-3 0
}

.lst-kix_ohanngo2692l-6>li:before {
    content: "-  "
}

.lst-kix_bzi60k1pundr-1>li {
    counter-increment: lst-ctn-kix_bzi60k1pundr-1
}

.lst-kix_b0m7ctptq76u-0>li:before {
    content: "-  "
}

ol.lst-kix_ge7qo3u2btfs-2.start {
    counter-reset: lst-ctn-kix_ge7qo3u2btfs-2 0
}

.lst-kix_ge7qo3u2btfs-6>li {
    counter-increment: lst-ctn-kix_ge7qo3u2btfs-6
}

.lst-kix_b0m7ctptq76u-1>li:before {
    content: "-  "
}

.lst-kix_ge7qo3u2btfs-1>li {
    counter-increment: lst-ctn-kix_ge7qo3u2btfs-1
}

.lst-kix_b0m7ctptq76u-2>li:before {
    content: "-  "
}

.lst-kix_b0m7ctptq76u-5>li:before {
    content: "-  "
}

ul.lst-kix_958bthi5iell-3 {
    list-style-type: none
}

ul.lst-kix_958bthi5iell-4 {
    list-style-type: none
}

.lst-kix_b0m7ctptq76u-4>li:before {
    content: "-  "
}

.lst-kix_b0m7ctptq76u-6>li:before {
    content: "-  "
}

ul.lst-kix_958bthi5iell-5 {
    list-style-type: none
}

ul.lst-kix_958bthi5iell-6 {
    list-style-type: none
}

.lst-kix_ge7qo3u2btfs-0>li {
    counter-increment: lst-ctn-kix_ge7qo3u2btfs-0
}

.lst-kix_b0m7ctptq76u-3>li:before {
    content: "-  "
}

.lst-kix_b0m7ctptq76u-7>li:before {
    content: "-  "
}

.lst-kix_bzi60k1pundr-2>li {
    counter-increment: lst-ctn-kix_bzi60k1pundr-2
}

ul.lst-kix_958bthi5iell-0 {
    list-style-type: none
}

ul.lst-kix_958bthi5iell-1 {
    list-style-type: none
}

ul.lst-kix_958bthi5iell-2 {
    list-style-type: none
}

ol.lst-kix_bzi60k1pundr-4.start {
    counter-reset: lst-ctn-kix_bzi60k1pundr-4 0
}

ul.lst-kix_958bthi5iell-7 {
    list-style-type: none
}

.lst-kix_ge7qo3u2btfs-7>li {
    counter-increment: lst-ctn-kix_ge7qo3u2btfs-7
}

ul.lst-kix_958bthi5iell-8 {
    list-style-type: none
}

.lst-kix_7i1jl0d4y9wa-1>li:before {
    content: "\0025cb  "
}

ol.lst-kix_ge7qo3u2btfs-1 {
    list-style-type: none
}

ol.lst-kix_ge7qo3u2btfs-2 {
    list-style-type: none
}

ol.lst-kix_ge7qo3u2btfs-0 {
    list-style-type: none
}

ol.lst-kix_ge7qo3u2btfs-5 {
    list-style-type: none
}

ol.lst-kix_ge7qo3u2btfs-6 {
    list-style-type: none
}

.lst-kix_7i1jl0d4y9wa-2>li:before {
    content: "\0025a0  "
}

ol.lst-kix_ge7qo3u2btfs-3 {
    list-style-type: none
}

ol.lst-kix_ge7qo3u2btfs-4 {
    list-style-type: none
}

.lst-kix_bzi60k1pundr-8>li {
    counter-increment: lst-ctn-kix_bzi60k1pundr-8
}

ol.lst-kix_ge7qo3u2btfs-7 {
    list-style-type: none
}

.lst-kix_b0m7ctptq76u-8>li:before {
    content: "-  "
}

ol.lst-kix_bzi60k1pundr-5.start {
    counter-reset: lst-ctn-kix_bzi60k1pundr-5 0
}

.lst-kix_bzi60k1pundr-5>li {
    counter-increment: lst-ctn-kix_bzi60k1pundr-5
}

ol.lst-kix_ge7qo3u2btfs-8 {
    list-style-type: none
}

.lst-kix_7i1jl0d4y9wa-0>li:before {
    content: "\0025cf  "
}

ol.lst-kix_ge7qo3u2btfs-1.start {
    counter-reset: lst-ctn-kix_ge7qo3u2btfs-1 0
}

ul.lst-kix_ohanngo2692l-0 {
    list-style-type: none
}

ul.lst-kix_ohanngo2692l-1 {
    list-style-type: none
}

ol.lst-kix_ge7qo3u2btfs-8.start {
    counter-reset: lst-ctn-kix_ge7qo3u2btfs-8 0
}

ol {
    margin: 0;
    padding: 0
}

table td,
table th {
    padding: 0
}

.c53 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #039be5;
    border-top-width: 1.5pt;
    border-right-width: 1.5pt;
    border-left-color: #039be5;
    vertical-align: middle;
    border-right-color: #039be5;
    border-left-width: 1.5pt;
    border-top-style: solid;
    background-color: #999999;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 205.5pt;
    border-top-color: #039be5;
    border-bottom-style: solid
}

.c63 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #039be5;
    border-top-width: 1.5pt;
    border-right-width: 1.5pt;
    border-left-color: #039be5;
    vertical-align: middle;
    border-right-color: #039be5;
    border-left-width: 1.5pt;
    border-top-style: solid;
    background-color: #d9d9d9;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 205.5pt;
    border-top-color: #039be5;
    border-bottom-style: solid
}

.c57 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #039be5;
    border-top-width: 1.5pt;
    border-right-width: 1.5pt;
    border-left-color: #039be5;
    vertical-align: middle;
    border-right-color: #039be5;
    border-left-width: 1.5pt;
    border-top-style: solid;
    background-color: #d9d9d9;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 150pt;
    border-top-color: #039be5;
    border-bottom-style: solid
}

.c68 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #039be5;
    border-top-width: 1.5pt;
    border-right-width: 1.5pt;
    border-left-color: #039be5;
    vertical-align: middle;
    border-right-color: #039be5;
    border-left-width: 1.5pt;
    border-top-style: solid;
    background-color: #999999;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 150pt;
    border-top-color: #039be5;
    border-bottom-style: solid
}

.c8 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #039be5;
    border-top-width: 1.5pt;
    border-right-width: 1.5pt;
    border-left-color: #039be5;
    vertical-align: middle;
    border-right-color: #039be5;
    border-left-width: 1.5pt;
    border-top-style: solid;
    background-color: #d9d9d9;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 156pt;
    border-top-color: #039be5;
    border-bottom-style: solid
}

.c17 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #039be5;
    border-top-width: 1.5pt;
    border-right-width: 1.5pt;
    border-left-color: #039be5;
    vertical-align: middle;
    border-right-color: #039be5;
    border-left-width: 1.5pt;
    border-top-style: solid;
    background-color: #d9d9d9;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 93.6pt;
    border-top-color: #039be5;
    border-bottom-style: solid
}

.c49 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #039be5;
    border-top-width: 1.5pt;
    border-right-width: 1.5pt;
    border-left-color: #039be5;
    vertical-align: middle;
    border-right-color: #039be5;
    border-left-width: 1.5pt;
    border-top-style: solid;
    background-color: #999999;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 45pt;
    border-top-color: #039be5;
    border-bottom-style: solid
}

.c45 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #039be5;
    border-top-width: 1.5pt;
    border-right-width: 1.5pt;
    border-left-color: #039be5;
    vertical-align: middle;
    border-right-color: #039be5;
    border-left-width: 1.5pt;
    border-top-style: solid;
    background-color: #d9d9d9;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 121.5pt;
    border-top-color: #039be5;
    border-bottom-style: solid
}

.c35 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #039be5;
    border-top-width: 1.5pt;
    border-right-width: 1.5pt;
    border-left-color: #039be5;
    vertical-align: middle;
    border-right-color: #039be5;
    border-left-width: 1.5pt;
    border-top-style: solid;
    background-color: #999999;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 93.6pt;
    border-top-color: #039be5;
    border-bottom-style: solid
}

.c37 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #039be5;
    border-top-width: 1.5pt;
    border-right-width: 1.5pt;
    border-left-color: #039be5;
    vertical-align: middle;
    border-right-color: #039be5;
    border-left-width: 1.5pt;
    border-top-style: solid;
    background-color: #999999;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 121.5pt;
    border-top-color: #039be5;
    border-bottom-style: solid
}

.c46 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #039be5;
    border-top-width: 1.5pt;
    border-right-width: 1.5pt;
    border-left-color: #039be5;
    vertical-align: middle;
    border-right-color: #039be5;
    border-left-width: 1.5pt;
    border-top-style: solid;
    background-color: #d9d9d9;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 45pt;
    border-top-color: #039be5;
    border-bottom-style: solid
}

.c9 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #039be5;
    border-top-width: 1.5pt;
    border-right-width: 1.5pt;
    border-left-color: #039be5;
    vertical-align: middle;
    border-right-color: #039be5;
    border-left-width: 1.5pt;
    border-top-style: solid;
    background-color: #999999;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 156pt;
    border-top-color: #039be5;
    border-bottom-style: solid
}

.c22 {
    margin-left: 36pt;
    padding-top: 10pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c3 {
    margin-left: 72pt;
    padding-top: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c13 {
    margin-left: 36pt;
    padding-top: 10pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.25;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c14 {
    margin-left: 36pt;
    padding-top: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c20 {
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 9pt;
    font-family: "Open Sans", sans-serif;
    font-style: normal
}

.c0 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Open Sans", sans-serif;
    font-style: normal
}

.c23 {
    padding-top: 10pt;
    text-indent: 36pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c28 {
    padding-top: 0pt;
    text-indent: 36pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c38 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c1 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 9pt;
    font-family: "Open Sans", sans-serif;
    font-style: normal
}

.c19 {
    color: #000000;
    font-weight: 400;
    text-decoration: underline;
    vertical-align: baseline;
    font-size: 9pt;
    font-family: "Open Sans", sans-serif;
    font-style: normal
}

.c15 {
    color: #039be5;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 18pt;
    font-family: "Open Sans", sans-serif;
    font-style: normal
}

.c6 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Open Sans", sans-serif;
    font-style: normal
}

.c21 {
    padding-top: 10pt;
    padding-bottom: 0pt;
    line-height: 1.25;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt
}

.c41 {
    color: #039be5;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 18pt;
    font-family: "Open Sans", sans-serif;
    font-style: normal
}

.c31 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt
}

.c26 {
    padding-top: 10pt;
    padding-bottom: 180pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c48 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c34 {
    padding-top: 32pt;
    padding-bottom: 0pt;
    line-height: 1.25;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c32 {
    padding-top: 24pt;
    padding-bottom: 0pt;
    line-height: 1.25;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c44 {
    color: #000000;
    font-weight: 400;
    text-decoration: underline;
    vertical-align: baseline;
    font-family: "Open Sans", sans-serif;
    font-style: normal
}

.c18 {
    padding-top: 10pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c24 {
    padding-top: 10pt;
    padding-bottom: 0pt;
    line-height: 1.25;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c36 {
    padding-top: 10pt;
    padding-bottom: 0pt;
    line-height: 1.25;
    orphans: 2;
    widows: 2;
    text-align: right
}

.c12 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c40 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Open Sans", sans-serif;
    font-style: normal
}

.c39 {
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Open Sans", sans-serif;
    font-style: normal
}

.c55 {
    padding-top: 10pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c56 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Open Sans", sans-serif;
    font-style: italic
}

.c52 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c62 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    page-break-after: avoid;
    text-align: left
}

.c11 {
    padding-top: 24pt;
    padding-bottom: 0pt;
    line-height: 1.25;
    page-break-after: avoid;
    text-align: left
}

.c51 {
    padding-top: 72pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    page-break-after: avoid;
    text-align: left
}

.c54 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    page-break-after: avoid;
    text-align: left
}

.c4 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: center
}

.c50 {
    margin-left: -24.8pt;
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c64 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c77 {
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c66 {
    margin-left: auto;
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c30 {
    font-size: 48pt;
    font-family: "Open Sans", sans-serif;
    color: #404040;
    font-weight: 700
}

.c76 {
    background-color: #ffffff;
    max-width: 468pt;
    padding: 72pt 72pt 72pt 72pt
}

.c42 {
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c47 {
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

.c27 {
    font-size: 36pt;
    color: #039be5;
    font-weight: 400
}

.c5 {
    font-size: 10pt;
    color: #1155cc;
    text-decoration: underline
}

.c75 {
    margin-left: 72pt;
    padding-left: 0pt
}

.c33 {
    margin-left: 21.8pt;
    padding-left: 0pt
}

.c25 {
    color: inherit;
    text-decoration: inherit
}

.c59 {
    border: 1px solid black;
    margin: 5px
}

.c61 {
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.c2 {
    padding: 0;
    margin: 0
}

.c72 {
    color: #1155cc;
    text-decoration: underline
}

.c65 {
    color: #039be5;
    font-size: 18pt
}

.c74 {
    width: 33%;
    height: 1px
}

.c29 {
    height: 18pt
}

.c67 {
    height: 11pt
}

.c16 {
    font-size: 12pt
}

.c70 {
    font-size: 11pt
}

.c69 {
    font-size: 36pt
}

.c71 {
    font-size: 18pt
}

.c60 {
    font-style: italic
}

.c73 {
    font-size: 14pt
}

.c7 {
    font-size: 16pt
}

.c43 {
    font-size: 10pt
}

.c58 {
    color: #666666
}

.c10 {
    height: 0pt
}

.title {
    padding-top: 72pt;
    color: #404040;
    font-weight: 700;
    font-size: 48pt;
    padding-bottom: 0pt;
    font-family: "Open Sans", sans-serif;
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 10pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 10pt;
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 1em;
    font-family: "Open Sans", sans-serif;
}

p {
    margin: 0;
    color: #000000;
    font-size: 1em;
    font-family: "Open Sans", sans-serif;
}

h1 {
    padding-top: 24pt;
    color: #039be5;
    font-size: 18pt;
    padding-bottom: 0pt;
    font-family: "Roboto", sans-serif;
    line-height: 1.25;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 10pt;
    color: #e61a17;
    font-size: 14pt;
    padding-bottom: 0pt;
    font-family: "Roboto", sans-serif;
    line-height: 1.25;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 10pt;
    color: #000000;
    font-size: 12pt;
    padding-bottom: 0pt;
    font-family: "Roboto", sans-serif;
    line-height: 1.25;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 8pt;
    color: #666666;
    text-decoration: underline;
    font-size: 11pt;
    padding-bottom: 0pt;
    font-family: "Roboto", sans-serif;
    line-height: 1.25;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 8pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 0pt;
    font-family: "Roboto", sans-serif;
    line-height: 1.25;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 8pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 0pt;
    font-family: "Roboto", sans-serif;
    line-height: 1.25;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}